#   .env.example
#   使い方：このファイルを.envにコピーして、必要な値を埋めてください
#   cp .env.example .env
#   DB接続設定
DB_DATABASE=
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=

# --- LocalStack / AWS Settings ---
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
# Laravelコンテナから接続する際のエンドポイント
AWS_ENDPOINT=
# ホスト(PC)からツール等で接続する際のエンドポイント
AWS_LOCAL_ENDPOINT=

# 使用したいAWSサービス（カンマ区切り）
LOCALSTACK_SERVICES=